---
layout: default
title: About
section_id: about
bars:
  - title: Tech Diversity
    percent: 100
  - title: Mac Support
    percent: 95
  - title: Windows Support
    percent: 90
  - title: Mobile Support
    percent: 65
  - title: WiFi Support
    percent: 85

members:
  - image: member-1.png
    name: Oscar aka '#Codeconuts'
    position: Founder & Developer
    desc:
      Oscar is a Latino Founder and Serial Entrepreneur who has worked in IT roles with Fortune 500 companies. Throughout his professional career Oscar has been involved in many technology focused businesses.
      He then went on to learn about web development and engineering. He spent some years with Startups, but knew his heart was always in business. In 2015, Oscar founded Gorilla Tech to bring Tech Support To Your Door.
      When not in the office, you can usually find him hanging with his family or at local sporting events!
    socials:
      - name: twitter
        link: http://www.twitter.com/codeconuts
        color: yellow
      - name: facebook
        link: http://www.facebook.com/gorillatechs
        color: yellow
      - name: instagram
        link: http://www.instagram.com/gorillatechs
        color: yellow
      - name: github
        link: http://github.com/olinares
        color: yellow
  - image: member-2.png
    name: Erick aka '#supportninja'
    position: Co-Founder & Support Manager
    desc:
      Erick grew up in the SF Bay Area and received a BA in Sound Arts. Erick has since worked in various consulting and support roles for some really awesome companies such as the San Francisco 49ers and FitBit.
      Within these roles he has shaped and developed new strategies for support and customer happyness. Erick brings a logical and thoughtful approach to understanding clients. When not in the office Erick can be found playing softball or at Levi's Stadium cheering for his beloved 49ers.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
  - image: member-3.png
    name: Carmen aka '#socialkilla'
    position: Social Embassador
    desc:
      Carmen was born and raised in San Francisco. She has a BS degree in Health & Management from Colorado State University. Carmen's unique blend of experience working for local hospitals, clinics and biotech companies is what makes her approach to customer service awesome.
      She truly understands customer needs and will always give you her best. She is also our company counselor since customers tend to gravitate to her for life advice! When not in the office you can find her with her family or watching hilarious videos online.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-4.png
    name: David aka '#mediaslayer'
    position: Media Director
    desc:
      David is in charge of all things media. He holds a BA degree in Digital Filmmaking and has mad video skills. David has vast freelance experience as a videographer and brings that experience with him.
      David can turn any plain conversation into a story and loves to help our team with all of our media shenaningans. He continues to broaden his experience with web tools and is a video junkie. On his time outside of work he can be found watching classics like Star Wars or playing semi-pro football.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-rocket'></i>
      <h2>Tech Support Done Right</h2>
      <p>We believe in Diversity, Hustle, Teamwork & Adventure!</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
        <span class='drop-letters'>We</span>
        are not your typical Silicon Valley Startup trying to take over the world. We simply want to provide "The Best Damn Customer Experience" you have ever received through Tech Support! We believe in Tech Diversity and are doing something about it. We love to work with people from all walks of life and understand that everyone brings something different.
      </p>
      <p>We are 100% American based! Wether you call, chat or work with us remotely your support experience will always be with staff that is located here in the good ol' U.S.A.!</p>
    </div>
    <div class='medium-6 large-6 columns'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class='full yellow no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Meet your new IT department!</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button white' data-appointlet-organization="gorillatech">Send me a tech</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>
