---
layout: default
title: Gorilla Tech - Windows & Mac Computer Support To Your Door Repair, Setup Book Online
description: Gorilla Tech has affordable on site and 24/7 tech support including computer repair, virus removal and more. Book online today.
section_id: home
services:
  -
    - title: Windows, Mac Computer Repair
      icon: tools
      desc:
        Our certified techs can help wether you have a Windows PC or Mac Laptop. When something goes wrong with your computer and you don't know what the issue is or how to fix it, Gorilla Tech is here to help.
      color:
    - title: Printer Install/Fix
      icon: print
      desc:
        We take the aches and pains of installing and synching your devices to your wired or wireless printer. Once setup, our techs will teach you how to operate your printer like an expert.
      color:
    - title: Internet, WiFi Install/Fix
      icon: signal
      desc:
        With our WiFi setup/fix service, you can take advantage of all the conveniences that wireless has to offer. Tired of waiting for your song to download or that Netflix show keeps stopping.
      color:
  -
    - title: Smart Phones & Tablets
      icon: mobile
      desc:
        Let us show you how to become a power user on your new shiny smartphone or tablet. Our Techs can help you setup your email, install apps and configure your device to your needs.
      color: yellow
    - title: Smart Home Installs
      icon: home
      desc:
        Make your home a Smart Home. Whether you have a smart lock, camera, lightbulbs or coffee maker, Gorilla Tech will get you connected and make your home the talk of your neighborhood!
      color: yellow
    - title: Solid State Upgrades
      icon: drive
      desc:
        Mac and Windows computers are great, but they can be AWESOME by upgrading them with newer Solid State Drives. Our Techs can backup your current system and reload it on a new and faster SSD. You will get back to where you left off in no time!
      color: yellow

milestones:
  - from: 0
    to: 5450
    title: Happy Customers
  - from: 0
    to: 12800
    title: Cups of Joe Consumed
  - from: 0
    to: 2060
    title: WiFi Installations
  - from: 0
    to: 1485
    title: Remote Sessions

works:
  - image: work-1.png
    title: Oscar aka '#codeconuts'
    category: Mac, Windows, iOS Expert
  - image: work-2.jpg
    title: Erick aka '#theexecutioner'
    category: Mobile, iot, Home Automation
  - image: work-3.jpg
    title: David aka '#beardedglory'
    category: Ring Doorbells, Nest Thermostats, Mobile
  - image: work-4.jpg
    title: Sean aka '#thenetworkwrangler'
    category: WiFi, Networks, Virtual Machines
---

{% include slider.html %}

{% include whys.html shape="circle" %}

<div class='full bg-3 light'>
  <div class='row'>
    <div class='large-6 columns'>
      <img class='fadeinleft' src='{{site.url}}/images/ipad-air.png'>
    </div>
    <div class='large-6 columns'>
      <h2 class='light'>Servicing Contra Costa County & The East Bay</h2>
      <p>
        Gorilla Tech provides on demand computer & mobile tech help throughout Contra Costa County. We support Windows, Mac, Android, iPhones, iPads, home automation like Ring Doorbells, Nest Cameras, Thermostat and August Doorbell locks.
      </p>
      <a class='button white' href='book-services'>Book Appointment Today</a>
    </div>
  </div>
</div>

<div class='full white'>
  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>

<div class='full white centered-text no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='three spacing'></div>
      <h2>What Our Customers are saying</h2>
      {% include thumbtack-badge.html %}
      <!-- {% include yelp.html %} -->
      <!-- <a href="https://goo.gl/maps/ZKiPwyan4yx"> <img src="{{site.url}}/images/client1.png" alt="Google Reviews"></a> -->
      <img class='centered' src='{{site.url}}/images/design-show.png'>
    </div>
  </div>
</div>


<div class='full yellow no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Our techs are experienced and are amazingly friendly. That is the Gorilla Tech Way!</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button white' href='book-services'>Send me a tech</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- <div class='full bg-4 no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='milestone light'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'></strong>
          <span>{{milestone.title}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div> -->

<!-- <div class='full white centered-text no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='three spacing'></div>
      <h2>best damn customer support period</h2>
      <img class='centered' src='{{site.url}}/images/design-show.png'>
    </div>
  </div>
</div> -->

<!-- <div class='full bg-5'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-6 columns'>
      <h2 class='light'>Meet your new IT Department</h2>
      <p class='light'>
        With Lightning fast support, no long term contracts and 98% client retention rate. Gorilla Tech is your new on demand IT service provider.
      </p>
      <a class='button boxed' href='#'>Know more</a>
    </div>
    <div class='large-6 columns'>
      <img class='fadeinright' src='{{site.url}}/images/settings.jpg'>
    </div>
  </div>
  <div class='spacing'></div>
</div> -->

<div class='full no-padding'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>On Site Residential and Business Services</h2>
      <p>Lafayette, Walnut Creek, San Ramon, Brentwood, Antioch, Oakley, Discovery Bay & the greater Contra Costa County!</p>
      <h3>Call or Chat with an Agent Below</h3>
      <h3>
        925-385-8667
      </h3>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<!-- <ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
  {% for work in page.works %}
    <li>
      <a>
        <img src='{{site.url}}/images/{{ work.image }}'>
        <div class='overlay'>
          <div class='thumb-info'>
            <h3>{{ work.title }}</h3>
            <p>{{ work.category }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul> -->

{% include clients.html %}

{% include testimonials.html bg="bg-1" %}

<!-- {% include get-in-touch.html %} -->
