<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>We're Bringing customer service back</h2>
        <p>You will always reach a human. We answer to our customers not investors.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='NAME' type='text'>
        <input placeholder='EMAIL' type='text'>
        <input placeholder='SUBJECT' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='MESSAGE'></textarea>
        <input class='button white' type='submit'>
      </div>
    </div>
  </div>
</div>
