{% if include.bg %}
  {% assign bg = include.bg %}
{% else %}
  {% assign bg = "bg-2" %}
{% endif %}

<div class='testimonials full light centered-text {{bg}}'>
  <div class='row'>
    <div class='special-title'>
      <i class='icon-quote'></i>
      <h2 class='light'>What our clients say</h2>
    </div>
    <div class='two spacing'></div>
  </div>
  <div class='row'>
    <div class='small-8 small-centered columns'>
      <ul data-orbit=''>
        {% for t in site.data.testimonials %}
          <li>
            <span class="yelp-review" data-review-id="JoVzv_X9UR8vSmGM8Xcl7g" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=uwKsSrws6vkyi3SqcqmpJA" rel="nofollow noopener">Christy V.</a>'s <a href="https://www.yelp.com/biz/gorilla-tech-computer-support-oakley?hrid=JoVzv_X9UR8vSmGM8Xcl7g" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/fwpMplX3lt3cTjnnh8kFYg" rel="nofollow noopener">Gorilla Tech Computer Support</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
            <!-- <p class='quote'>"{{t.quote}}"</p>
            <p class='author'>{{t.author}}</p> -->
            <div class='two spacing'></div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='spacing'></div>
  </div>
</div>
